name: wdc workflow

on:
  workflow_dispatch:
     inputs:
       deploy_environment:
                          description: Environment to deployment
                          required: true
                          type: choice
                          default: dev
                          options:
                                 - Dev
                                 - QA
                                 - Uat
                                 - Xat
                                 - PROD

run-name: ${{github.event.inputs.deploy_environment}}
jobs:
   pre_check:
       name: pre check
       runs-on: ubuntu-latest
       environment: run-name
       steps:
          - name: check the environment
            id: precheck1
            run: echo "selected deployment env ${ run-name}"
   component-init:
       needs: pre_check
       name: init
       runs-on: ubuntu-latest
       environment: dev
       steps:
          - name: init-variables
            run: echo "initialize the variables ${date}"
